@charset "utf-8";


/* 레이아웃 */
#header {width: 100%; height: 100px; background: #fff; box-shadow: -1px -1px 10px rgba(0,0,0,.3); z-index: 1;} 
#main_banner {width: 100%;}

/* 가운데 영역 */
.container {width: 1440px; margin: 0 auto;}
.row {margin: 0 93px;}

/* 헤더 영역 */
.header {position: relative;}

.header .logo {padding: 15px 0;}

.header .menu_bar {display: none; position: absolute; top: 33px; right: 0;}

.header .nav {position: absolute; top: 29px; right: 236px;}
.header .nav > ul {display: flex;}
.header .nav > ul > li {display: flex; flex-direction: column;}
.header .nav > ul > li > a {display: block; font-size: 18px; font-weight: 700; text-align: center; padding: 10px 34px;}
.header .nav > ul > li > a {}
.header .nav > ul > li > ul {display: none;}
.header .nav > ul > li > ul > li {}
.header .nav > ul > li > ul > li > a {display: block; padding: 10px 0; text-align: center;}

.header .search input {
  position: absolute; top: 29px; right: 0; 
  width: 206px; height: 39px; 
  border-radius: 30px;
  border-color: #2c2620;
  background: none;
  cursor: text;
  text-indent: 10px;
}
.header .search a svg {
  position: absolute; top: 37px; right: 10px;
  cursor: pointer;
}

/* main_banner */
.main_banner {position: relative;}
.main_banner picture img {width: 100%; height: 750px;}
.description {position: absolute; top: 165px; right: 72px;}
.description .title {font-size: 48px; font-weight: bold; color: #2c2620;}
.description .desc {font-size: 15px; color: #565656; margin-top: 40px; width: 471px; height: 121px;}
.description .white {color: #fff; text-shadow: 1px 1px 15px rgba(0,0,0,.3);}
.description .button {
  width: 200px;
  height: 60px;
  flex-grow: 0;
  border-radius: 30px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #2c2620;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}
.description .button strong {font-size: 20px; color: #2c2620;}

/* swiper */


/* 미디어쿼리 */
@media (max-width: 1290px){
  .container {width: 100%;}
  .row {margin: 0 45px;}
} 

@media (max-width: 1024px){
  .header .nav, .header .search {display: none;}
  .header .menu_bar {display: block;}
}

@media (max-width: 960px){

}

@media (max-width: 768px){

}

@media (max-width: 480px){

}

@media (max-width: 350px){

}












